:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
}

.ant-modal-mask {
  -webkit-backdrop-filter: blur(2.5px) !important;
  backdrop-filter: blur(2.5px) !important;
}
